@import "../responsive.scss";
.layout{
    height: 100vh;
    min-width: fit-content;
    max-width: 1336px;
    margin:0 auto;
    padding: 20px;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;

    @include lg{
        // background-color: red;
        max-width: 1280px;
    }

    @include md{
        max-width: 768px;
        // background-color: purple;
    }
   
    @include sm{
        max-width: 640px;
        // background-color: orange;
    }
    
  
}